@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradientBackground 15s ease infinite;
}

.autofill-fix:-webkit-autofill,
.autofill-fix:-webkit-autofill:hover,
.autofill-fix:-webkit-autofill:focus,
.autofill-fix:-internal-autofill-selected {
  transition: background-color 50000s ease-in-out 0s !important;
  -webkit-text-fill-color: #ffffff !important;
  box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.05) inset !important;
  background-color: transparent !important;
  caret-color: #ffffff !important;
}
